div.head{
    background-color: rgb(212, 23, 23);
    color: aliceblue;
    text-align: center;
    padding: 50px;
      
}
a:hover{
    text-decoration: underline;
    color: green;
    background-color: brown;

}
a:visited{
    color: antiquewhite;
}

div.body{
    background-color: blueviolet;
}
ul#menu li{
    display: inline;
}
ul#menu li a{
    color: rgb(14, 253, 34);
    border-radius: 30px;
    background-color: blueviolet;
}
ul#menu li a:hover{
    background-color: aquamarine;
}
body{
    background-color: black;
}